.category-title-1 {
  display: flex;
  background: #9c3;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) inset;
  justify-content: center;
  padding: 10.5px 14.5px 10.5px 14.5px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 30px;
  margin-right: -12.5px;
  margin-left: -12.5px;
}
