.continent-name {
  font-size: 16px;
  font-weight: 300;
  margin: 35px 15px 25px 15px;
}

.continent-countries {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px; /* 125% */
  margin: 0px 15px 90px 15px;
}
