* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Raleway;
  background-image: url("../img/24adc2aedebad0b637bdd0462c9f87ad.png");
}

a {
  color: inherit;
}

img,
video {
  display: block;
  width: 100%;
}

h1 {
  color: #fff;
  text-align: center;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 40px;
  font-weight: 700;
}
